p {
    	font-family:Arial ;
    }
h1 {
  color: maroon;
}
.title , .uppercase {
  color: teal; text-transform: uppercase;
}
#article-title {
  font-family: cursive;
	text-transform: capitalize;
}
.publish-time {
  color: gray;
}
.capitalize {
  text-transform: capitalize;
}
.cursive {
  font-family: cursive;
}
h2.destination {
  font-family: cursive;
}
.description h5 {
  color: teal;
}
h6 {
  color: rebeccapurple !important;
}
h5,
p {
  color: rebeccapurple !important; font-family: Georgia;
}




